body{
	background-color: white
}
h1{
	margin-left: 510px
} 
h1{
	color:red
}
h2{
	color: red
}
h2{
	margin-left: 570px
}
a{
	margin-left: 610px
}
button{
	background-color: red
}
button{
	font-size: 30px
}
button{
	color: white
}
button{
	border-color: red
}